/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #005073;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
}

h1 {
    margin: 0;
}

/* Sections */
.intro-section, .team-section, .beneficiaries-section, .objectives-section, .links-section, .conclusion-section, .evidencia-section {
    background-color: white;
    margin: 1rem auto;
    padding: 20px;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Encargados del proyecto y beneficiarios */
h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.team, .beneficiaries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px; /* Ajusta el espacio entre las tarjetas */
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    padding: 0;
}

/* Cada miembro del equipo o beneficiario */
.team-member, .beneficiary {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Imágenes */
.team-member img, .beneficiary img, evidencia img {
    width: 150px;
    height: auto;
    border-radius: 15px;
    margin: 0 auto; /* Centrado horizontal */
    padding: 0 !important;
    object-fit: cover;
    display: block; /* Necesario para que el margen auto funcione */
}

/* Texto debajo de las imágenes */
.team-member p, .beneficiary p {
    margin-top: 0.1rem !important;
    padding: 0 !important;
    font-size: 1rem;
    color: #333;
    line-height: 1.1;
    text-align: center;
}

/* Ajuste global de márgenes y padding */
img {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

p {
    margin-top: 0.1rem !important;
    padding: 0 !important;
}

/* Objetivos */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

/* Botones */
.links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button {
    background-color: #005073;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

.button:hover {
    background-color: #004261;
}

/* General text */
p {
    text-align: justify;
    line-height: 1.6;
}

